{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ restaurant_name }}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <header>
            <!-- Logo -->
            <div>
                <img src="{% static 'images/logo.png' %}" alt="Restaurant Logo">
            </div>
                    
            <!-- Restaurant Name -->
            <h1>{{ restaurant_name }}</h1>
    
            <!-- Navigation -->
            <nav>
                <a href="/">Home</a>
                <a href="{% url 'about' %}">About Us</a>
            </nav>
        </header>
        
        <main>
            <h2>Welcome to {{ restaurant_name }}</h2>
            <p>Best food in town!</p>
            <span>Phone Number : {{ phone_number }}</span>
        </main>
        <footer>
            <p>&copy; {{ year }} Our Restaurant. All Rights Reserved.</p>
        </footer>
    </body>
</html>